<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Cadastro de Livros</h1>

<a href="#livrolist">
	<img alt="Lista" src="resources/img/list-icon.png" border="0"> Lista de Livros
</a>

<br/>
<br/>

<div class="col-lg-9 col-md-8" ng-init="carregarFornecedores();">
	<div class="card">
		<div class="content">
			<form id="formLivro" name="formLivro" ng-submit="salvarLivro();">
			
				<div class="row">
				
					<div class="col-md-3">
						<div class="form-group">
							<label>Id</label>
							<input type="text" ng-model="livro.id" class="form-control border-input" disabled />
						</div>
					</div>
					
				</div>
				
				<div class="row">
				
					<div class="col-md-12">
						<div class="form-group">
							<label>Título</label>
							<input type="text" ng-model="livro.titulo" class="form-control border-input" placeholder="Título" required="required" />
						</div>
					</div>
					
				</div>
				
				<div class="row">
				
					<div class="col-md-12">
						<div class="form-group">
							<label>Autor(es)</label>
							<input type="text" ng-model="livro.autor" class="form-control border-input" placeholder="Autor(es)" required="required" />
						</div>
					</div>
					
				</div>
				
				<div class="row">
				
					<div class="col-md-12">
						<div class="form-group">
							<label>Descrição</label>
							<input type="text" ng-model="livro.descricao" class="form-control border-input" placeholder="Descrição" required="required" />
						</div>
					</div>
					
				</div>

				<div class="row">
				
					<div class="col-md-6">
						<div class="form-group">
							<label>ISBN</label>
							<input type="text" ng-model="livro.isbn" class="form-control border-input" placeholder="ISBN" required="required" />
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
							<label>Ano</label>
							<input type="text" ng-model="livro.ano" class="form-control border-input" placeholder="Ano" required="required" />
						</div>
					</div>
					
				</div>

				<div class="row">
				
					<div class="col-md-6">
						<div class="form-group">
							<label>Páginas</label>
							<input type="text" ng-model="livro.paginas" class="form-control border-input" placeholder="Páginas" required="required" />
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
							<img alt="Capa" id="imagemLivro" src="" style="width: 118px; height: 140px;" border="0">
							<input type="file" id="file" onchange="javascript:visualizarImg();" />
						</div>
					</div>
					
				</div>
				
				<div class="row">
				
					<div class="col-md-6">
						<div class="form-group">
							<label>Fornecedor</label>
							<select id="selectFornecedores" class="form-control border-input" ng-model="livro.fornecedor.id">
								<option value="">Selecione</option>
								<option ng-repeat="fornecedor in fornecedores" value="{{fornecedor.id}}">
									{{fornecedor.razaoSocial}}
								</option>
							</select>
						</div>
					</div>
					
				</div>
				
				<div class="text-center">
					<button type="submit" class="btn btn-info btn-fill btn-wd">Cadastrar</button>
					<button type="button" class="btn btn-info btn-fill btn-wd" ng-click="limparForm();">Limpar</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>