<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Cadastro de Clientes</h1>

<a href="#clientelist">
	<img alt="Lista" src="resources/img/list-icon.png" border="0"> Lista de Clientes
</a>

<br/>
<br/>

<div class="col-lg-9 col-md-8" ng-init="carregarEstados();">
	<div class="card">
		<div class="content">
			<form id="formCliente" name="formCliente" ng-submit="salvarCliente();">
			
				<div class="row">
				
					<div class="col-md-3">
						<div class="form-group">
							<label>Id</label>
							<input type="text" ng-model="cliente.id" class="form-control border-input" disabled />
						</div>
					</div>
					
				</div>
				
				<div class="row">
				
					<div class="col-md-12">
						<div class="form-group">
							<label>Nome</label>
							<input type="text" ng-model="cliente.nome" class="form-control border-input" placeholder="Nome" required="required" />
						</div>
					</div>
					
				</div>
				
				<div class="row">
				
					<div class="col-md-6">
						<div class="form-group">
							<label>Endereço</label>
							<input type="text" ng-model="cliente.endereco" class="form-control border-input" placeholder="Endereço" required="required" />
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
							<label>Telefone</label>
							<input type="text" ng-model="cliente.telefone" id="telefone" class="form-control border-input" placeholder="Telefone" required="required" />
						</div>
					</div>
					
				</div>

				<div class="row">
				
					<div class="col-md-6">
						<div class="form-group">
							<label>Sexo</label>
							<select ng-model="cliente.sexo" class="form-control border-input">
								<option value="Masculino">Masculino</option>
								<option value="Feminino">Feminino</option>
							</select>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
							<label>Ativo</label>
							<input type="checkbox" ng-model="cliente.ativo" class="form-control border-input" />
						</div>
					</div>
					
				</div>

				<div class="row">
				
					<div class="col-md-4">
						<div class="form-group">
							<label>Banco de dados</label>
							<input type="radio" ng-model="cliente.interesse" class="form-control border-input" name="interesse" value="banco" />
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group">
							<label>Programação</label>
							<input type="radio" ng-model="cliente.interesse" class="form-control border-input" name="interesse" value="programacao" ng-checked="true" />
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group">
							<label>Análise</label>
							<input type="radio" ng-model="cliente.interesse" class="form-control border-input" name="interesse" value="analise" />
						</div>
					</div>

				</div>
				
				<div class="row">
				
					<div class="col-md-6">
						<div class="form-group">
							<label>Estado</label>
							<select id="selectEstados" class="form-control border-input"
								ng-model="cliente.estados.id"
								ng-change="carregarCidades()">
								<option value="">Selecione</option>
								<option ng-repeat="estado in estados" value="{{estado.id}}">
									{{estado.nome}}
								</option>
							</select>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
							<label>Cidade</label>
							<select id="selectCidades" class="form-control border-input"
								ng-model="cliente.cidades.id">
								<option value="">Selecione</option>
								<option ng-repeat="cidade in cidades"
									value="{{cidade.id}}">
									{{cidade.nome}}
								</option>
							</select>
						</div>
					</div>
					
				</div>

				<div class="text-center">
					<button type="submit" class="btn btn-info btn-fill btn-wd">Cadastrar</button>
					<button type="button" class="btn btn-info btn-fill btn-wd" ng-click="limparForm();">Limpar</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
<script type="text/javascript">
	$("#telefone").mask("(99) 9999-9999");
</script>
</html>