<!DOCTYPE html>
<html ng-app="loja">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Itens do Carrinho</h1>

<div ng-controller="lojaController">
	<div class="content table-responsive table-full-width">
		<table class="table table-hover">
			<thead>
				<th>#</th>
				<th>Capa</th>
				<th>Título</th>
				<th>Quantidade</th>
				<th>Valor</th>
				<th>Ações</th>
			</thead>
			<tbody>
				<tr ng-repeat="item in itensCarrinho">
					<td>{{item.livro.id}}</td>
					<td><img src="{{item.livro.foto}}" style="width: 40px; height: 40px;" /></td>
					<td>{{item.livro.titulo}}</td>
					<td><input type="number" class="form-control border-input" value="{{item.quantidade}}" /></td>
					<td>R$ {{item.livro.valor}}</td>
					<td>
						<a href ng-click="removerItemCarrinho(item.livro.id);">
							<img alt="Remover" src="resources/img/delete-icon.png" border="0"> Remover
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<h3>Total do Pedido: R$ {{pedidoObjeto.valorTotal}}</h3>
	</div>
</div>

</body>
</html>