<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Loja on-line de Livros</h1>

<a ng-click="fecharPedido();">
	<img alt="Carrinho" title="Carrinho de Livros" 
		src="resources/img/carrinho.png" border="0" height="20px;" width="20px;">
	{{carrinhoLivro.length}} Itens no Carrinho 
</a>

<br/><br/>

<div class="col-lg-9 col-md-8" ng-init="listarLivros(1);">
	<div class="card">
		<div class="content">
			<form>
				<div class="row">
					<div class="col-md-3" ng-repeat="livro in data">
						<div class="form-group text-center">
							<label>{{livro.titulo}}</label>
							<img alt="Capa" id="imagemLivro" src="{{livro.foto}}" style="width: 170px; height: 200px;" border="0">
							<label onclick="mostrarDescricao(this.title);" title="{{livro.descricao}}">Ver Descrição</label>
							<br/>
							<label>R$ {{livro.valor}}</label>
							<br/>
							<button type="button" ng-click="addLivro(livro.id);" class="btn btn-info btn-fill btn-wd">Adicionar</button>
						</div>
					</div>
				</div>
			</form>
			<br/><br/>
			<div class="text-center">
				<button type="button" class="btn btn-info btn-fill btn-wd" ng-click="anterior();">Anterior</button>
				<button type="button" class="btn btn-info btn-fill btn-wd" ng-click="proximo();">Próximo</button>
			</div>
		</div>
	</div>
</div>
<div id="descricaoLivro" title="Descrição resumida do livro"></div>
</body>
</html>