<!DOCTYPE html>
<html ng-app="loja">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="resources/script/angular.min.js"></script>
<script type="text/javascript" src="resources/script/angular-route.js"></script>
<script type="text/javascript" src="resources/script/angular-resource.js"></script>
<script type="text/javascript" src="resources/script/angular-animate.js"></script>
<script type="text/javascript" src="resources/script/angular-locale_pt-br.js"></script>
<script type="text/javascript" src="resources/script/primeiroController.js"></script>
<style>
	.myDiv {
		transition: all linear 0.5s;
		background-color: lightblue;
		height: 100px;
		width: 100%;
		position: relative;
		top:0;
		left:0;
	}
	.ng-hide {
		height: 0;
		width: 0;
		background-color: transparent;
		top: -200px;
		left: 200px;
	}
	table {
		border-collapse: collapse;
	}
</style>
</head>
<body ng-controller="primeiroController as user" id="corpo">
	<input type="text" ng-model="user.meuNome"/>
	<br/>
	<input type="text" ng-model="user.meuSobrenome"/>
	<br/>
	
	<h1>Olá, {{user.meuNome}} {{user.meuSobrenome}}</h1>
	
	<a href="#" ng-click="addContador();">Adicionar</a>
	<hr/>
	<h1>Contador: {{contador}}</h1>
	
	<hr/>
	
	<h1>Loop</h1>
	<ul>
		<li ng-repeat="nome in pessoas">{{nome}}</li>
	</ul>
	
	<form action="" name="nossoForm">
		<input type="text" name="nome" id="nome" ng-model="nome" required="required" />
		<br/>
		<input type="text" name="sobrenome" id="sobrenome" ng-model="sobrenome" required="required" />
		<br/>
		<button>Salvar</button>
	</form>
	
	<hr/>
	<h1>Rota Deep Linking</h1>
	<div ng-view>
	</div>
	
	<hr/>
	<h1>Expressões</h1>
	<h2>Expressão 1</h2>
	<p>{{5+5}}</p>
	<h2>Expressão 2</h2>
	<div ng-init="myColor='red'">
		<input style="background-color: {{myColor}}" ng-model="myColor" value="{{myColor}}" />
	</div>
	<h2>Expressão 3</h2>
	<div ng-init="valor=2;cota=5">
		<p>Total em Dólar: {{valor * cota}}</p>
	</div>
	<h2>Expressão 4</h2>
	<div ng-init="quantity=1;cost=5">
		<p>Total: <span ng-bind="quantity * cost"></span></p>	
	</div>
	<h2>Expressão 5</h2>
	<div ng-init="firstName='John';lastName='Doe'">
		<p>Meu nome é: {{firstName + " " + lastName}}</p>
		<p>Meu nome é: <span ng-bind="firstName + ' ' + lastName"></span></p>
	</div>
	<h2>Expressão 6</h2>
	<div ng-init="person={firstName: 'John', lastName: 'Doe'}">
		<p>Meu nome é: {{person.lastName}}</p>
		<p>Meu nome é: <span ng-bind="person.lastName"></span></p>
	</div>
	<h2>Expressão 7</h2>
	<div ng-init="points=[1,15,19,2,40]">
		<p>Resultado: {{points[2]}}</p>
		<p>Resultado: <span ng-bind="points[2]"></span></p>
	</div>
	
	<hr/>
	<h1>Diretivas</h1>
	<div minha-diretiva></div>
	<form name="myForm">
		<label for="myEmail">E-mail:</label>
		<input type="email" name="myEmail" id="myEmail" ng-model="text" />
		<span ng-show="myForm.myEmail.$error.email">E-mail inválido!</span>
	</form>
	
	<hr/>
	<h1>Filtros</h1>
	<div ng-controller="personCtrl">
		<p>O nome é {{firstName | uppercase}}</p>
		<p>O nome é {{lastName | lowercase}}</p>
	</div>
	<div ng-controller="namesCtrl">
		<p>Loop em objetos:</p>
		<ul>
			<li ng-repeat="x in names | orderBy: 'name'">
				{{x.name + ', ' + x.country}}
			</li>
		</ul>
	</div>
	<div ng-controller="costCtrl">
		<h2>Preço: {{price | currency}}</h2>
	</div>
	<div ng-controller="namesCtrl2">
		<ul>
			<li ng-repeat="x in names | filter: 'i'">{{x}}</li>
		</ul>
	</div>
	<div ng-controller="namesCtrl3">
		<p>
			<input type="text" ng-model="name">
		</p>
		<ul>
			<li ng-repeat="x in names | filter: name">{{x}}</li>
		</ul>
	</div>
	<div ng-controller="namesCtrl4">
		<p>Clique no cabeçalho para ordenar:</p>
		<table border="1" width="100%">
			<tr>
				<th ng-click="orderByMe('name')">Nome</th>
				<th ng-click="orderByMe('country')">País</th>
			</tr>
			<tr ng-repeat="x in names | orderBy: myOrderBy">
				<td>{{x.name}}</td>
				<td>{{x.country}}</td>
			</tr>
		</table>
	</div>
	
	<hr/>
	<h1>Serviços</h1>
	<div ng-controller="localizacao">
		<p>A URL dessa página é: {{myUrl}}</p>
	</div>
	<div ng-controller="controllerTimeOut">
		<p>Timeout services: {{timermsg}}</p>
	</div>
	<div ng-controller="controllerIntervalo">
		<p>O horário é: {{intervalo}}</p>
	</div>
	
	<hr/>
	<h1>Http</h1>
	<p>Trabalhando com o servidor 1:</p>
	<button ng-controller="pegarRespostaController" ng-click="pegarResposta();">Pegar resposta do servidor</button>
	<input type="text" id="resposta" />
	<p>Trabalhando com o servidor 2:</p>
	<button ng-controller="pegarRespostaController2" ng-click="pegarResposta2();">Pegar resposta do servidor</button>
	<input type="text" id="resposta2" />
	<input type="text" id="resposta3" />
	<input type="text" id="resposta4" />
	<p>Trabalhando com o servidor Erro:</p>
	<button ng-controller="pegarRespostaErroController" ng-click="pegarRespostaErro();">Pegar resposta do servidor</button>
	<input type="text" id="respostaErro" />
	<p>Trabalhando com o servidor Json:</p>
	<div ng-controller="pegarRespostaJsonController">
		<ul>
			<li ng-repeat="x in lista">{{x.nome + ' - ' + x.cidade}}</li>
		</ul>
	</div>
	
	<hr/>
	<h1>Tabela de dados</h1>
	<div ng-controller="pegarRespostaJsonController">
		<table border="1">
			<tr ng-repeat="pessoa in lista">
				<td>{{pessoa.nome}}</td>
				<td>{{pessoa.cidade}}</td>
			</tr>
		</table>
		<br/><br/>
		<table border="1">
			<tr ng-repeat="pessoa in lista | orderBy: 'cidade'">
				<td>{{pessoa.nome}}</td>
				<td>{{pessoa.cidade}}</td>
			</tr>
		</table>
		<br/><br/>
		<table border="1">
			<tr ng-repeat="pessoa in lista">
				<td>{{pessoa.nome}}</td>
				<td>{{pessoa.cidade | uppercase}}</td>
			</tr>
		</table>
		<br/><br/>
		<table border="1">
			<tr ng-repeat="pessoa in lista">
				<td>{{$index}}</td>
				<td>{{pessoa.nome}}</td>
				<td>{{pessoa.cidade}}</td>
			</tr>
		</table>
		<br/><br/>
		<table border="1">
			<tr ng-repeat="pessoa in lista">
				<td ng-if="$odd" style="background-color: lime;">{{pessoa.nome}}</td>
				<td ng-if="$even">{{pessoa.nome}}</td>
				<td ng-if="$odd" style="background-color: lime;">{{pessoa.cidade}}</td>
				<td ng-if="$even">{{pessoa.cidade}}</td>
			</tr>
		</table>
	</div>
	
	<hr/>
	<h1>Componente Select</h1>
	<div ng-controller="namesController">
		<select ng-model="selectedName" ng-options="x for x in names"></select>
		<br/><br/><br/>
		<select>
			<option ng-repeat="x in names">{{x}}</option>
		</select>
	</div>
	<div ng-controller="pegarRespostaJsonController">
		<p>Selecione um nome:</p>
		<select ng-model="nomeSelecionado">
			<option ng-repeat="x in lista" value="{{x.nome}}">{{x.nome}}</option>
		</select>
		<p>Selecionado: {{nomeSelecionado}}</p>
		
		<p>Selecione um nome:</p>
		<select ng-model="selecionado" ng-options="x for (x, y) in lista">
		</select>
		<p>Selecionado:</p>
		<p>Nome: {{selecionado.nome}}</p>
		<p>Cidade: {{selecionado.cidade}}</p>
	</div>
	
	<hr/>
	<h1>DOM</h1>
	<div ng-init="mySwitch=true">
		<button ng-disabled="mySwitch">Clique</button>
		<br><br>
		<input id="mySwitch" type="checkbox" ng-model="mySwitch" />
		<label for="mySwitch">Botão</label>
		<p>{{mySwitch}}</p>
	</div>
	<p ng-show="true">Mostrando</p>
	<p ng-show="false">Escondendo</p>
	<div ng-init="hour=13">
		<p ng-show="hour > 12">Mostrando horas</p>
	</div>
	
	<hr/>
	<h1>Resource</h1>
	<div ng-controller="pessoaController">
		<input type="text" ng-value="100" ng-model="codPessoa" />
		<br>
		<button ng-click="getPorId();">Buscar Por Id</button>
		<button ng-click="getTodos();">Buscar Todos</button>
		<button ng-click="salvarPessoa();">Salvar Pessoa</button>
		<button ng-click="deletarPessoa();">Deletar Pessoa</button>
		<h3>{{objetoPessoa}}</h3>	
	</div>
	
	<hr/>
	<h1>Eventos</h1>
	<h3 ng-mousemove="count = count + 1">Passe o mouse sobre mim</h3>
	<p>{{count}}</p>
	<h3 ng-click="count2 = count2 + 1">Clique</h3>
	<p>{{count2}}</p>
	<div ng-controller="clickController">
		<button ng-click="myFunc();">Clique</button>
		<div ng-show="showMe">
			<h3>Menu:</h3>
			<p>Pizza</p>
			<p>Macarrão</p>
			<p>Lasanha</p>
		</div>
	</div>
	<div ng-controller="coordenadasController">
		<h3 ng-mousemove="myFunc($event);">Passe o mouse sobre mim para exibir as coordenadas</h3>
		<p>Coordenadas: {{x + ', ' + y}}</p>
	</div>
	
	<hr/>
	<h1>Validação de formulário</h1>
	<form>
		<label>Selecione um tópico:</label>
		<select ng-model="myVar">
			<option value="Selecione">Selecione</option>
			<option value="cachorros">Cachorros</option>
			<option value="tutoriais">Tutoriais</option>
			<option value="carros">Carros</option>
		</select>
	</form>
	
	<div ng-switch="myVar">
		<div ng-switch-when="cachorros">
			<p>Selecionou Cachorros</p>
		</div>
		<div ng-switch-when="tutoriais">
			<p>Selecionou Tutoriais</p>
		</div>
		<div ng-switch-when="carros">
			<p>Selecionou Carros</p>
		</div>
	</div>
	
	<div ng-controller="formCtrl">
		<form novalidate="novalidate">
			<label>Nome:</label>
			<input type="text" ng-model="user.firstName">
			<br/>
			<label>Sobrenome:</label>
			<input type="text" ng-model="user.lastName">
			<br/>
			<button ng-click="reset();">Resetar</button>
		</form>
		<p>form = {{user}}</p>
		<p>master = {{master}}</p>
	</div>
	
	<form name="myForm">
		<input name="myInput" ng-model="myInput" required="required" />
	</form>
	<p>Verificando se o form é válido: {{myForm.myInput.$valid}}</p>
	
	<form name="myForm2">
		<input type="email" name="myInput2" ng-model="myInput2" />
	</form>
	<p>Verificando se o e-mail é válido: {{myForm2.myInput2.$valid}}</p>
	
	<form name="myForm3">
		<label>Nome:</label>
		<input name="myName" ng-model="myName" required="required" />
		<span ng-show="myForm3.myName.$touched && myForm3.myName.$invalid">Nome obrigatório</span>
		<br/>
		<label>E-mail:</label>
		<input type="email" name="myEmail" ng-model="myEmail" required="required" />
		<span ng-show="myForm3.myEmail.$touched && myForm3.myEmail.$invalid">E-mail obrigatório ou inválido</span>
	</form>
	
	<hr/>
	<h1>Animações</h1>
	<label>Esconder a div</label>
	<input type="checkbox" ng-model="myCheck" />
	<br/><br/>
	<div class="myDiv" ng-hide="myCheck"></div>
	
	<hr/>
	<h1>Formatação de campo moeda</h1>
	<input type="text" ng-model="moeda" />
	<p>Moeda padrão: {{moeda | currency : "$"}}</p>
	<p>Moeda Real: {{moeda | currency}}</p>
	
	<hr/>
	<h1>Injeção de dependência</h1>
	<div ng-controller="primeiroUserController">
		<p>Primeiro: {{primeiro}}</p>
	</div>
	<div ng-controller="todosUserController">
		<p>Todos: {{todos}}</p>
	</div>
	
	<hr/>
	<h1>Filtro em tabela de dados</h1>
	<div ng-controller="filterController">
		<label>Consulta:</label>
		<input type="text" ng-model="criteria" />
		<br/><br/>
		<table border="1">
			<thead>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Idade</th>
			</thead>
			<tbody>
				<tr ng-repeat="friend in resultadoQtd = (friends | filter: {name: criteria})">
					<td>{{friend.name}}</td>
					<td>{{friend.lastName}}</td>
					<td>{{friend.age}}</td>
				</tr>
			</tbody>
		</table>
		<h3>Total de resultados: {{resultadoQtd.length}}</h3>
	</div>
	
</body>
</html>