<!DOCTYPE html>
<html ng-app="loja">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="resources/script/angular.min.js"></script>
<script type="text/javascript" src="resources/script/angular-route.js"></script>
<script type="text/javascript" src="resources/script/primeiroController.js"></script>
</head>
<body ng-controller="primeiroController as user" id="corpo">
	<input type="text" ng-model="user.meuNome"/>
	<br/>
	<input type="text" ng-model="user.meuSobrenome"/>
	<br/>
	
	<h1>Olá, {{user.meuNome}} {{user.meuSobrenome}}</h1>
	
	<a href="#" ng-click="addContador();">Adicionar</a>
	<hr/>
	<h1>Contador: {{contador}}</h1>
	
	<hr/>
	
	<h1>Loop</h1>
	<ul>
		<li ng-repeat="nome in pessoas">{{nome}}</li>
	</ul>
	
	<form action="" name="nossoForm">
		<input type="text" name="nome" id="nome" ng-model="nome" required="required" />
		<br/>
		<input type="text" name="sobrenome" id="sobrenome" ng-model="sobrenome" required="required" />
		<br/>
		<button>Salvar</button>
	</form>
	
	<hr/>
	<h1>Rota Deep Linking</h1>
	<div ng-view>
	</div>
	
	<hr/>
	<h1>Expressões</h1>
	<h2>Expressão 1</h2>
	<p>{{5+5}}</p>
	<h2>Expressão 2</h2>
	<div ng-init="myColor='red'">
		<input style="background-color: {{myColor}}" ng-model="myColor" value="{{myColor}}" />
	</div>
	<h2>Expressão 3</h2>
	<div ng-init="valor=2;cota=5">
		<p>Total em Dólar: {{valor * cota}}</p>
	</div>
	<h2>Expressão 4</h2>
	<div ng-init="quantity=1;cost=5">
		<p>Total: <span ng-bind="quantity * cost"></span></p>	
	</div>
	<h2>Expressão 5</h2>
	<div ng-init="firstName='John';lastName='Doe'">
		<p>Meu nome é: {{firstName + " " + lastName}}</p>
		<p>Meu nome é: <span ng-bind="firstName + ' ' + lastName"></span></p>
	</div>
	<h2>Expressão 6</h2>
	<div ng-init="person={firstName: 'John', lastName: 'Doe'}">
		<p>Meu nome é: {{person.lastName}}</p>
		<p>Meu nome é: <span ng-bind="person.lastName"></span></p>
	</div>
	<h2>Expressão 7</h2>
	<div ng-init="points=[1,15,19,2,40]">
		<p>Resultado: {{points[2]}}</p>
		<p>Resultado: <span ng-bind="points[2]"></span></p>
	</div>
	<hr/>
	<h1>Diretivas</h1>
	<div minha-diretiva></div>
	<form name="myForm">
		<label for="myEmail">E-mail:</label>
		<input type="email" name="myEmail" id="myEmail" ng-model="text" />
		<span ng-show="myForm.myEmail.$error.email">E-mail inválido!</span>
	</form>
</body>
</html>